@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@font-face {
  font-family: "nunito";
  src: url("../public/nunito/Nunito-medium.ttf");
  /* src: url("../"); */
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nunito";
  scroll-behavior: smooth;
  /* outline: 2px solid limegreen !important; */
}

@layer components {
  .active__link {
    @apply hover:border-indigo-500 text-indigo-500 inline-flex items-center px-1 pt-1 border-transparent border-b-2 text-sm font-medium;
  }
  .nav__link {
    @apply inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium border-transparent text-gray-900 hover:border-gray-300 hover:text-gray-700;
  }
  .animation__link {
    @apply transition-all duration-150 ease-out;
  }
}

/* .hero__section {
  background-image: url(../public/hero.png);
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */
